
.mynav{
    font-size: 16px;
	line-height: 1.5em;
	padding: 10px !important;
	font-family : 'Gotham';
	color : #FFFFFF !important;
    text-decoration: none;
    
}
/* .btn1{
    background-color: #80a940;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    color : #FFFFFF !important;
    border-radius: 20px;
    } */

 /* a:hover{
	background-color: #80a940 ;
	border-radius: 20px ;
	
	
    
} */
Nav.Link{
	
}
.navbg{
    background-color: #135d72;
    
}
.navbar11{
    background-color: transparent;
}
  
.navbar12{
    background-color: #135d72;
}
.header{
    background-color: #135d72;
}

@media only screen and (max-width: 768px) {
	a:hover{
		border-radius: 0;
		padding-left: 10px;
	}
}

